<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChatterBox</title>
    
    <script src="js/chatclient.js"></script> 
    
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"> 
    <link href="css/chatclient.css" rel="stylesheet">
</head>  

	<body style="background-image:url(images/bubbleBlur2.jpg);"> 
		<div id="startPage">
			<div id="container">
				<h7> Welcome to Chatterbox! </h7> 
				<form>
	               
	                <input type="text" class="userNameBox" placeholder="John Doe">
	                 <button type="button" class="enterChatBox" onclick=""> Enter </button> 
	            </form> 
            <div>
		</div>
 	</body>  

</html> 
